[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CYGUARD
Comment=DNS-level cybersecurity and privacy protection
Exec=cyguard.cyguard-web
Icon=${SNAP}/meta/gui/adguard-home-web.png
Terminal=false
